/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.loginMainCon .mat-tab-label[role^='tab'] {
    min-width: 50%;
}
.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    place-content: center;
  }
  .cdk-global-scrollblock{
      overflow: hidden !important;
  }
